project_id   = "your-dev-project-name"  # 開発環境用プロジェクト
region       = "asia-northeast1"
environment  = "develop"
service_name = "your-service"
github_org   = "your-github-org"
github_repo  = "your-repo-name"
